.wrapper {
  background-color: lightgray;
  height: 90vh;
  display: flex;
  transition-duration: 0.3s;
}
.sideblock {
  width: 50%;
  display: flex;
  border: solid black 1px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start
  
}

.nameBlock {
  height: 150px;
  width: 300px;
  padding: 20px;
  margin-top: 50px;
  background: rgba(255, 255, 255, 0.27);
  border-radius: 15px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  border-top: 1px solid rgba(255, 255, 255, 1);
  border-left: 1px solid rgba(255, 255, 255, 1);
  
}
button {
    height: 30px;
    width: 100px;
    padding: 5px;
    margin: 5px;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 1);
  backdrop-filter: blur(3px);
}
button:hover{
    background: rgba(90, 90, 90, 0.3); 
    transition-duration: 0.3s;
}
