.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.about img {
    height: 500px;
    width: 350px;
}